<% errors ||= [] %>
<% if errors.any? %>
  <div class="alert alert-danger">
    <div>Hay errores:
    </div>
    <ul>
      <% errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
