<% if form.object.errors.any? %>
  <div class="alert alert-danger">
    <div>There was
      <%= pluralize form.object.errors.full_messages.count, "error" %>
      with your submission:</div>

    <ul>
      <% form.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
