@import "./flatpickr.min.css";
@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
}

html,
body {
    height: 100%;
}

.table.table--compact {
    tr {
        border: none;
    }
    th,
    td {
        padding: 0.5rem 0;
    }
}

.input.input--underline {
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    width: 100px;
    min-width: 100px;
    height: auto;
}

.input.input--underline:focus {
    outline: none;
}
.input.input--datepicker {
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    min-width: 100px;
    height: auto;
    font-size: 1.25rem;
    text-align: center;
}

.input.input--datepicker:focus {
    outline: none;
}
