html {
    font-family: "Montserrat Variable", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    max-width: 100rem;
}

main {
    width: inherit;
}

main > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    body {
        display: flex;
    }
    #content {
        display: block;
        position: relative;
        width: 100%;
        padding-left: calc(var(--sidebar-width) + var(--pico-spacing));
    }
}

@media (min-width: 576px) {
    :root,
    :host {
        --pico-font-size: 100%;
    }
}
@media (min-width: 768px) {
    :root,
    :host {
        --pico-font-size: 100%;
    }
}
@media (min-width: 1024px) {
    :root,
    :host {
        --pico-font-size: 100%;
    }
}
@media (min-width: 1280px) {
    :root,
    :host {
        --pico-font-size: 100%;
    }
}
@media (min-width: 1536px) {
    :root,
    :host {
        --pico-font-size: 100%;
    }
}
