.overlay {
  left: 0;
  top: 0;
  width: -webkit-fill-available;
  height: 100%;
  position: absolute;
  background: #f1f5f9;
  opacity: 0.5;
  visibility: hidden;
  z-index: 100;
  animation: visibility 0.5s ease-in-out forwards;
}
.overlay--visible {
  visibility: visible;
}

.overlay__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
}

@media (min-width: 768px) {
  .overlay {
    left: var(--sidebar-width);
  }
}
