.overlay {
    width: -webkit-fill-available;
    height: 100%;
    position: fixed;
    background: rgba(241, 245, 249, 0.5);
    opacity: 0.5;
    visibility: hidden;
    z-index: 100;
    animation: visibility 0.5s ease-in-out forwards;
}

.overlay.overlay--visible {
    visibility: visible;
}

.overlay__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
}

@media screen and (min-width: 768px) {
    .overlay {
        position: absolute;
        margin-left: var(--sidebar-width);
    }
}
